<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<div id="comments">
  <h2>
    <%= @post.comments.count %>
    <%= render @post.comments %>
  </h2>
  <h3>Reply to thread</h3>
  <%= render "comments/form" %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
